/*
CSS para ManGoApp
ELEMENTOS COMUNES
Autor: Danny Estrada
*/

/* bottombar position */
.rdm-bottombar--position{    
    left: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
    background-color: var(--bg-color1);  
}  

/* bottombar container */
.rdm-bottombar--small-container{
    background-color: var(--md-sys-color-surface-variant);
    color: var(--md-sys-color-on-surface-variant);
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 5em;
    padding: 0.75em 1em 0.75em 0.25em;
    transition: background-color 0.5s ease, color 0.5s ease; 
}  

/* bottombar media elements */
.rdm-bottombar--media {  
    display: flex;
    justify-content: center;
    flex-grow: 0;
    margin-right: 1em;
    background-color: var(--bg-color1);    
}

    /* leading icon */
    .rdm-bottombar--leading-navigation-icon {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 3em;
        height: 3em;
        background-color: var(--bg-color2);
        cursor: pointer;
        user-select: none;
    }

    /* material design icons */
    .rdm-bottombar--leading-navigation-icon .material-symbols-rounded, 
    .rdm-bottombar--leading-navigation-icon .material-symbols-outlined {
        font-size: 1.5em;
        align-self: center;
        color: var(--md-sys-color-on-surface);
        border-radius: 50em;
        padding: 0.4em;
        margin: -0.4em;
        transition: color 0.3s ease, background-color 0.3s ease, font-variation-settings 0.3s ease;
    }

        /*light theme*/
        @media (prefers-color-scheme: light) { 

            /*Icon state hover*/      
            .rdm-bottombar--leading-navigation-icon .material-symbols-rounded:hover, 
            .rdm-bottombar--leading-navigation-icon .material-symbols-outlined:hover {
                background-color: rgba(0, 0, 0, 0.1);
                font-variation-settings: 'FILL' 1;
            }

            /*Icon state active*/
            .rdm-bottombar--leading-navigation-icon .material-symbols-rounded:active, 
            .rdm-bottombar--leading-navigation-icon .material-symbols-outlined:active {
                background-color: rgba(0, 0, 0, 0.2);
                font-variation-settings: 'FILL' 1;
            }

            /* Para cuando está dentro de <a> */
            a:hover .rdm-bottombar--leading-navigation-icon .material-symbols-rounded,
            a:hover .rdm-bottombar--leading-navigation-icon .material-symbols-outlined {
                background-color: rgba(0, 0, 0, 0.1);
                font-variation-settings: 'FILL' 1;
            }

            a:active .rdm-bottombar--leading-navigation-icon .material-symbols-rounded,
            a:active .rdm-bottombar--leading-navigation-icon .material-symbols-outlined {
                background-color: rgba(0, 0, 0, 0.2);
                font-variation-settings: 'FILL' 1;
            }
        }

        /*dark theme*/
        @media (prefers-color-scheme: dark) {
            /*Icon state hover*/
            .rdm-bottombar--leading-navigation-icon .material-symbols-rounded:hover, 
            .rdm-bottombar--leading-navigation-icon .material-symbols-outlined:hover {
                background-color: rgba(255, 255, 255, 0.1);
                font-variation-settings: 'FILL' 1;
            }

            /*Icon state active*/
            .rdm-bottombar--leading-navigation-icon .material-symbols-rounded:active, 
            .rdm-bottombar--leading-navigation-icon .material-symbols-outlined:active {
                background-color: rgba(255, 255, 255, 0.2);
                font-variation-settings: 'FILL' 1;
            }

            /* Para cuando está dentro de <a> */
            a:hover .rdm-bottombar--leading-navigation-icon .material-symbols-rounded,
            a:hover .rdm-bottombar--leading-navigation-icon .material-symbols-outlined {
                background-color: rgba(255, 255, 255, 0.1);
                font-variation-settings: 'FILL' 1;
            }

            a:active .rdm-bottombar--leading-navigation-icon .material-symbols-rounded,
            a:active .rdm-bottombar--leading-navigation-icon .material-symbols-outlined {
                background-color: rgba(255, 255, 255, 0.2);
                font-variation-settings: 'FILL' 1;
            }

        }

    /* leading avatar */
    .rdm-bottombar--avatar {        
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 100%;
        height: 1.875em;
        width: 1.875em;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--md-sys-color-primary-container);
        color: var(--md-sys-color-on-primary-container);
        
    }

/* bottombar body elements */ 
.rdm-bottombar--body {
    flex-grow: 1;
    align-self: center;
    margin-right: 1.5em;
    background-color: var(--bg-color1);
}

    /* body headline */
    .rdm-bottombar--body-headline {
        margin: 0.09em 0em ;        
        color: var(--md-sys-color-on-surface);
        background-color: var(--bg-color2);
        
    }

/* bottombar action elements */
.rdm-bottombar--action {
    display: flex;
    flex-grow: 0;
    margin-right: 0em;
    background-color: var(--bg-color1);    
}   

    /* trailing icon */
    .rdm-bottombar--trailing-icon {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding-right: 1.5em;
        color: var(--md-sys-color-on-surface);
        background-color: var(--bg-color2);
        cursor: pointer;
        user-select: none;
    }

    /* material design icons */
    .rdm-bottombar--trailing-icon .material-symbols-rounded, .rdm-bottombar--trailing-icon .material-symbols-outlined {
        font-size: 1.5em;
        align-self: center;
        transition: font-variation-settings 0.3s ease;
    }

    .rdm-bottombar--trailing-icon:hover .material-symbols-rounded,
    .rdm-bottombar--trailing-icon:hover .material-symbols-outlined {
        font-variation-settings: 'FILL' 1;
    }

/* ManGo! logo */
.rdm-bottombar--mango-logo{
    background: #ff9800;
    border-radius: 1em;
    border-top-left-radius: 0;
    display: inline-block;
    height: 0.8em;
    width: 0.8em;
}